.country-container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.country-container .question-title {
  border-bottom: 2px solid #999;
}

.country-container .topic-questions {
  padding-left: 25px;
}

.country-container .topic-questions .quote {
  padding: 5px 5px 5px 15px;
  background-color: #ddd;
}

body.static-content .country-container .cms-preview {
  display: none;
}

body.static-content .country-container button.explanation-button {
  display: none;
}

body.page-preview-country .country-container .cms-preview.small-text {
  font-size: .75em;
}

body.page-preview-country .country-container button.explanation-button {
  padding: 3px 20px;
  background-color: #666;
  border: none;
  border-radius: 3px;
  color: white;
  margin-bottom: 15px;
}

body.page-preview-country .country-container .explanation-container {
  display: none;
  padding-left: 25px;
}

body.page-preview-country .country-container .explanation-container.active {
  text-align: justify;
  text-justify: inter-word;
  display: block;
}
