/*
Static styles go here
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Hide all the CMS-only items */
.cms-preview {
  display: none;
}

.header {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  background-color: #E8E7E5;
  padding: 15px;
}

.header #logo {
  height: 65px;
  width: auto;
  float: left;
  margin-right: 40px;
}

.main-container {
  width: 100%;
  clear: both;
}

.left-sidebar {
  width: 25%;
  float: left;
  padding: 15px;
}

.left-sidebar .menu,
.left-sidebar .menu li {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
}


.left-sidebar .menu li a {
  display: block;
  padding: 7.5px;
  color: #333;
}

.left-sidebar .menu li a:active,
.left-sidebar .menu li a:hover {
  background-color: #eee;
}

.main-container > .content {
  width: 75%;
  float: left;
  padding: 15px 15px 15px 0;
}

.main-container .content p.quote {
  line-height: 1.5em;
}

.main-container .content .quote span.quote {
  background-color: transparent;
  padding: 0;
}
